<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Games</title>
</head>
<body>
	<% if (errors) { %>
		<% for (let i = 0; i < errors.length; i++) { %>
			<li><%= errors[i].msg %></li>
		<% } %>
	<% } %>
	<% if (array) { %>
		<%- include("./partials/display", {array: array}) %>
	<% } else { %>
		<p>Sorry, your search didn't receive results</p>
	<% } %>
	<form action=<%= action %> method=<%= method %>>
		<label for=<%= id %>>Search <%= descText %></label>
		<input type="text" id=<%= id %> name=<%= id %> placeholder=<%= id %> required>
		<button type="submit">Send</button>
	</form>
	<a href="/">Return to homepage</a>
	<a href=<%= allRoute %>>See all <%= descText %></a>
	<a href="/devs/new">Add a new <%= descText.slice(0, descText.length - 1); %></a>
</body>
</html>